#content{
    display:inline-block;
    background-color: rgb(190, 179, 179);
    width:350px;
    height:100%;
}

#contentDisplay{
    display:inline-block;
    vertical-align:top;
    background-color: rgb(195, 179, 179);
    width:250PX;
    height:100%;
}

#wrapperDiv{
    width:100%;
    height:100%;
    background-color: aliceblue;
    border:2px solid gray;
    border-radius:10px;
}

.contactCard{
    vertical-align:top;
    padding:10px 15px;
    text-align:center;
    /* width:200px;
    height:100%; */
    border: 2px solid black;
    background-color:gray;
    border-radius:5px;
    word-wrap:break-word;
}

button{
    margin-left:20px;
    margin-top:7px;
    margin-bottom: 7px;
    text-align:center;
    padding:5px 20px;
    background-color:rgb(97, 160, 218);
    background: linear-gradient(rgb(134, 173, 207),rgb(194, 202, 209));
    border: 2px solid rgb(108, 108, 199);
    border-radius:10px;
    font-weight:bold;
    color:white;
}

#description{
    height:100px;
    width:200px;
    word-wrap:break-word;
}
h2{
    margin-left:10px;
}
.clickable{
    color:burlywood;
    font-size:12px;
}